{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Games Library</h1>
        </div>
        <div class="row">
            <h3>Publishers publisherName games list</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Game's Name</th>
                    <th scope="col">Year Released</th>
                    <th scope="col">IsDeleted</th>
                    {#                    <th scope="col">Publisher ID (Reference)</th>#}
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% set idVal = 0 %}

                {% for game in games %}
                    <tr>
                        {% set idVal = idVal + 1 %}
                        <th scope="row">{{ idVal }}
                        </th>
                        <td>{{ game.name }}</td>
                        <td>{{ game.year }}</td>
                        <td>{{ game.isDeleted }}</td>
{#                        <td>{{ game.publisher.id }}</td>#}
                        <td>
                            <a href="{{ path('app_editGame', { 'id':game.id }) }}" title="Update Game" data-toggle="tooltip">
                                <button class="btn btn-warning">Edit</button>
                            </a>
                            <a href="#" title="Delete Publisher" data-toggle="tooltip">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
