<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Games Library!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
{#      Nav Bar #}
        <nav class="navbar navbar-light navbar-expand bg-light">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <a class="nav-link active" href="{{ path('app_homepage') }}">Home</a>
                    <a class="nav-link active" href="{{ path('app_games') }}">Games</a>
                </div>
            </div>
        </nav>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

{#      Body #}
        {% block body %}{% endblock %}

{#      Footer#}
        <nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ path('app_homepage') }}">Home</a>
                    <a class="nav-link" href="{{ path('app_homepage') }}">About</a>
                </div>
            </div>
        </nav>
    </body>
</html>


